:host ::ng-deep {
  .app-relic-weapon-list {
    .app-relic-weapon-list-listbox {
      .app-relic-weapon-list-listbox-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }
}
