:host ::ng-deep {
  .app-selected-character {
    .app-selected-character-container {
      display: flex;
      align-items: center;

      .app-selected-character-container-icon {
        padding: 8px;

        .app-selected-character-container-icon-image {
          width: 64px;
          height: 64px;
        }
      }

      .app-selected-character-container-buttons {
        margin-left: auto;

        p-button {
          padding: 4px;

          &:last-child {
            padding-right: 8px;
          }
        }
      }
    }
  }
}
