<div class="gs-app-append-euleka">
  <div class="gs-app-append-euleka-details">
    <p-accordion
      ><p-accordionTab header="必要アイテム" *ngIf="getTreeNodes(index).length">
        <p-treeTable [value]="getTreeNodes(index)">
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
              <td>
                <div class="gs-app-append-items-td">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <div class="gs-app-append-items-content">
                    <ng-container *ngFor="let data of rowData.datas">
                      <div>
                        <img [src]="data.iconUrl" />
                        <a *ngIf="data.tooltipUrl" class="eorzeadb_link" [href]="data.tooltipUrl" target="_blank">
                          <div class="gs-app-append-items-name">{{ data.name }}</div>
                        </a>
                        <div class="gs-app-append-items-name" *ngIf="!data.tooltipUrl">{{ data.name }}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td *ngIf="rowData.urlType === itemUrlType">
                <div class="gs-app-append-items-td">
                  <div class="gs-app-append-items-content">
                    <ng-container *ngFor="let data of rowData.datas">
                      <div class="gs-app-append-items-amount">x {{ data.amount }}</div>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td *ngIf="rowData.parent">
                <div class="gs-app-append-items-td">
                  <i class="pi pi-angle-double-right"></i>
                </div>
              </td>
              <td *ngIf="rowData.parent">
                <div class="gs-app-append-items-td">
                  <img [src]="rowData.parentIconUrl" />
                  <a
                    *ngIf="rowData.parentTooltipUrl"
                    class="eorzeadb_link"
                    [href]="rowData.parentTooltipUrl"
                    target="_blank"
                  >
                    <div class="gs-app-append-items-name">{{ rowData.parentName }}</div>
                  </a>
                  <div class="gs-app-append-items-name" *ngIf="!rowData.parentTooltipUrl">{{ rowData.parentName }}</div>
                </div>
              </td>
              <td *ngIf="rowData.parent">
                <div class="gs-app-append-items-td">
                  <div class="gs-app-append-items-amount">x {{ rowData.parentAmount }}</div>
                </div>
              </td>
            </tr>
          </ng-template></p-treeTable
        > </p-accordionTab
      ><p-accordionTab header="作成手順"
        ><div *ngIf="index == 0">
          <p>
            ジョブクエストの報酬装備と<a
              class="eorzeadb_link"
              [href]="getTooltip(21801, itemUrlType)"
              target="_blank"
              >{{ getItemName(21801) }}</a
            >
            100 個をアネモス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 1">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(21801, itemUrlType)" target="_blank">{{
              getItemName(21801)
            }}</a>
            400 個をアネモス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 2">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(21801, itemUrlType)" target="_blank">{{
              getItemName(21801)
            }}</a>
            800 個をアネモス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 3">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(21802, itemUrlType)" target="_blank">{{
              getItemName(21802)
            }}</a>
            3 個をアネモス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 4">
          <p>EL (エレメンタルレベル) を25に上げ、クルルからのクエストを受注する。</p>
          <p-divider></p-divider>
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(23309, itemUrlType)" target="_blank">{{
              getItemName(23309)
            }}</a>
            5 個をパゴス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 5">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            ><a class="eorzeadb_link" [href]="getTooltip(23309, itemUrlType)" target="_blank">{{
              getItemName(23309)
            }}</a>
            10 個と<a class="eorzeadb_link" [href]="getTooltip(22976, itemUrlType)" target="_blank">{{
              getItemName(22976)
            }}</a>
            500 個をパゴス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 6">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(23309, itemUrlType)" target="_blank">{{
              getItemName(23309)
            }}</a>
            16 個と<a class="eorzeadb_link" [href]="getTooltip(22975, itemUrlType)" target="_blank">{{
              getItemName(22975)
            }}</a>
            5 個をパゴス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 7">
          <p>ロゴスアクションを 10 種類開放する。</p>
          <p-divider></p-divider>
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24124, itemUrlType)" target="_blank">{{
              getItemName(24124)
            }}</a>
            150 個をピューロス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 8">
          <p>ロゴスアクションを 20 種類開放する。</p>
          <p-divider></p-divider>
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24124, itemUrlType)" target="_blank">{{
              getItemName(24124)
            }}</a>
            200 個をピューロス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 9">
          <p>ロゴスアクションを 30 種類開放する。</p>
          <p-divider></p-divider>
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24124, itemUrlType)" target="_blank">{{
              getItemName(24124)
            }}</a>
            300 個と<a class="eorzeadb_link" [href]="getTooltip(24123, itemUrlType)" target="_blank">{{
              getItemName(24123)
            }}</a>
            5 個をピューロス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 10">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24807, itemUrlType)" target="_blank">{{
              getItemName(24807)
            }}</a>
            50 個をヒュダトス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 11">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24807, itemUrlType)" target="_blank">{{
              getItemName(24807)
            }}</a>
            100 個をヒュダトス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 12">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24807, itemUrlType)" target="_blank">{{
              getItemName(24807)
            }}</a>
            100 個をヒュダトス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 13">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24807, itemUrlType)" target="_blank">{{
              getItemName(24807)
            }}</a>
            100 個と<a class="eorzeadb_link" [href]="getTooltip(24806, itemUrlType)" target="_blank">{{
              getItemName(24806)
            }}</a>
            5 個をヒュダトス編のゲロルトに渡す。
          </p>
        </div>
        <div *ngIf="index == 14">
          <p>
            <ng-container *ngFor="let item of steps[index - 1].items"
              ><ng-container *ngIf="steps[index - 1].items.indexOf(item) != 0">と</ng-container
              ><a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{
                item.Name_ja
              }}</a></ng-container
            >と<a class="eorzeadb_link" [href]="getTooltip(24808, itemUrlType)" target="_blank">{{
              getItemName(24808)
            }}</a>
            100 個をヒュダトス編のゲロルトに渡す。
          </p>
        </div>
      </p-accordionTab></p-accordion
    >
  </div>
</div>
