:host ::ng-deep {
  .gs-app {
    .gs-app-full-size-content();

    .gs-app-main {
      .gs-app-full-size-content();
      flex-direction: column;
      align-items: center;

      .gs-app-main-header {
        .gs-app-full-size-content();
        flex: none;
        height: 48px;

        .gs-app-main-header-left,
        .gs-app-main-header-center,
        .gs-app-main-header-right {
          .gs-app-full-size-content();
        }

        .gs-app-main-header-left {
          align-items: center;
          padding-left: 16px;
          font-weight: bold;
        }
      }

      .gs-app-main-content {
        .gs-app-full-size-content();
        flex-direction: column;
        flex: none;
        height: 760px;
        width: 1360px;

        .gs-app-main-content-top {
          .gs-app-full-size-content();
          flex: none;
          height: 60px;
        }

        .gs-app-main-content-bottom {
          .gs-app-full-size-content();
          flex: none;
          height: 700px;

          .gs-app-main-content-bottom-left,
          .gs-app-main-content-bottom-right {
            .gs-app-full-size-content();
          }
        }
      }

      .gs-app-main-footer {
        .gs-app-full-size-content();
        flex: none;
        height: 48px;

        .gs-app-main-footer-left,
        .gs-app-main-footer-center,
        .gs-app-main-footer-right {
          .gs-app-full-size-content();
          align-items: center;
        }

        .gs-app-main-footer-center {
          justify-content: center;

          .icon-area {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 13px;
            padding: 8px;

            .icon {
              height: 24px;
            }

            .footer-link {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        .gs-app-main-footer-right {
          padding-right: 16px;
          justify-content: flex-end;
        }
      }
    }
  }
}

.gs-app-full-size-content() {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
