<div class="gs-app">
  <div class="gs-app-main">
    <div class="gs-app-main-header">
      <p-button
        icon="pi pi-bars"
        class="gs-app-main-header-bar"
        styleClass="p-button-outlined p-button-text"
        (click)="sidebarVisible = true"
      ></p-button>
      <img class="gs-app-main-header-logo" [src]="logoPath" alt="ゲロルトの工匠記録" />
    </div>
    <div class="gs-app-main-content">
      <div class="gs-app-main-content-top">
        <app-search-lodestone></app-search-lodestone>
        <app-character-list></app-character-list>
      </div>
      <div class="gs-app-main-content-bottom">
        <app-step-by-step></app-step-by-step>
      </div>
    </div>
  </div>
</div>
<p-sidebar class="gs-app-side" [(visible)]="sidebarVisible" position="right">
  <ng-template pTemplate="header"
    ><div class="gs-app-side-header-logo-area">
      <img class="gs-app-side-header-logo" [src]="logoPath" alt="ゲロルトの工匠記録" />
    </div>
    <div class="gs-app-side-header-creater-area">
      <p>by:</p>
      <p>
        <a *ngIf="logoLink" [href]="logoLink" target="_blank">
          {{ logoCreator }}
        </a>
        <ng-container *ngIf="!logoLink">{{ logoCreator }}</ng-container>
      </p>
    </div></ng-template
  >
  <ng-template pTemplate="content"
    ><p>Website: <a href="https://twitter.com/lastagous" target="_blank">らすと</a></p>
    <p>Illust: <a href="https://twitter.com/toto_lucas_ff14" target="_blank">ろにゃ</a></p>
    <p>Logos:</p>
    <ng-container *ngFor="let logo of logos">
      <p *ngIf="logo.creatorName" class="gs-app-side-content-logos-name">
        <a *ngIf="logo.link" [href]="logo.link" target="_blank">
          {{ logo.creatorName }}
        </a>
        <ng-container *ngIf="!logo.link">{{ logo.creatorName }}</ng-container>
      </p></ng-container
    >
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="gs-app-side-footer-content">
      <div class="gs-app-side-footer-content-illust">
        <img class="gs-app-side-footer-content-illust-image" *ngFor="let image of images" [src]="getImageSrc(image)" />
      </div>
      <div class="gs-app-side-footer-content-top">
        <div class="gs-app-side-footer-content-top-icon-area">
          <img class="gs-app-side-footer-content-top-icon" src="assets/link/x.png" />
          <a class="gs-app-side-footer-content-top-icon-link" href="https://twitter.com/lastagous" target="_blank"></a>
        </div>
        <div class="gs-app-side-footer-content-top-icon-area">
          <img class="gs-app-side-footer-content-top-icon" src="assets/link/note.png" />
          <a class="gs-app-side-footer-content-top-icon-link" href="https://note.com/lastagous" target="_blank"></a>
        </div>
        <div class="gs-app-side-footer-content-top-icon-area">
          <img class="gs-app-side-footer-content-top-icon" src="assets/link/github.png" />
          <a
            class="gs-app-side-footer-content-top-icon-link"
            href="https://github.com/lastagous/gerolt-selection"
            target="_blank"
          ></a>
        </div>
      </div>
      <div class="gs-app-side-footer-content-bottom">© SQUARE ENIX</div>
    </div>
  </ng-template>
</p-sidebar>
<p-toast></p-toast>
