<div class="gs-app">
  <div class="gs-app-main">
    <div class="gs-app-main-header">
      <div class="gs-app-main-header-left"></div>
      <div class="gs-app-main-header-center"></div>
      <div class="gs-app-main-header-right"></div>
    </div>
    <div class="gs-app-main-content">
      <div class="gs-app-main-content-top"></div>
      <div class="gs-app-main-content-center">
        <div class="gs-app-main-content-center-left"></div>
        <div class="gs-app-main-content-center-right"></div>
      </div>
      <div class="gs-app-main-content-bottom"></div>
    </div>
    <div class="gs-app-main-footer">
      <div class="gs-app-main-footer-left"></div>
      <div class="gs-app-main-footer-center"></div>
      <div class="gs-app-main-footer-right"></div>
    </div>
  </div>
</div>
