<div class="gs-app">
  <div class="gs-app-main">
    <div class="gs-app-main-header">
      <div class="gs-app-main-header-left">ゲロルトの工匠記録</div>
      <div class="gs-app-main-header-center"></div>
      <div class="gs-app-main-header-right"></div>
    </div>
    <div class="gs-app-main-content">
      <div class="gs-app-main-content-top">
        <app-search-lodestone></app-search-lodestone>
      </div>
      <div class="gs-app-main-content-bottom">
        <div class="gs-app-main-content-bottom-left">
          <app-character-list></app-character-list>
        </div>
        <div class="gs-app-main-content-bottom-right">
          <app-progress-panel></app-progress-panel>
        </div>
      </div>
    </div>
    <div class="gs-app-main-footer">
      <div class="gs-app-main-footer-left"></div>
      <div class="gs-app-main-footer-center">
        <div class="icon-area">
          <img class="icon" src="assets/link/twitter.png" />
          <a
            class="footer-link"
            href="https://twitter.com/lastagous"
            target="_blank"
          ></a>
        </div>
        <div class="icon-area">
          <img class="icon" src="assets/link/note.png" />
          <a
            class="footer-link"
            href="https://note.com/lastagous"
            target="_blank"
          ></a>
        </div>
      </div>
      <div class="gs-app-main-footer-right">
        (C) SQUARE ENIX CO., LTD. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
