:host ::ng-deep {
  @tablet: ~"only screen and (max-width: 1360px)";

  width: 100%;
  display: flex;
  align-items: center;

  .gs-app-search-lodestone {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;

    .gs-app-search-lodestone-info-area {
      padding: 8px;

      p-tag {
        padding-right: 8px;
      }
    }

    .gs-app-search-lodestone-search-area {
      display: flex;

      .gs-app-search-lodestone-text-box {
        flex: 1 1 0;
        padding-right: 8px;

        > input {
          width: 100%;
        }
      }
    }

    // .gs-app-character-list {
    //   display: flex;
    //   align-items: center;

    //   .gs-app-character-list-hashtag-button {
    //     padding-left: 16px;

    //     @media @tablet {
    //       display: none;
    //     }
    //   }
    // }
  }
}
