<div class="gs-app-search-lodestone">
  <div class="gs-app-search-lodestone-info-area">
    <span>
      <p-tag icon="pi pi-info-circle" severity="info" value="Info"></p-tag>
      <a href="https://ffxivcollect.com/" target="_blank">FFXIV Collect</a> で Select Character をしてから Search
      を実行してください！
    </span>
  </div>
  <div class="gs-app-search-lodestone-search-area">
    <div class="gs-app-search-lodestone-text-box">
      <input
        type="text"
        pInputText
        [(ngModel)]="searchString"
        [disabled]="isCharacterFetcing"
        placeholder="https://jp.finalfantasyxiv.com/lodestone/character/00000000"
        (keydown.enter)="onKeyDownEnter($event)"
        [class.ng-invalid]="isSearchBoxError"
        [class.ng-dirty]="isSearchBoxError"
      />
    </div>
    <div class="gs-app-search-lodestone-search-button">
      <p-button
        label="Search"
        [icon]="getSearchButtonIcon()"
        [disabled]="isCharacterFetcing"
        (click)="onKeyDownEnter($event)"
      ></p-button>
    </div>
  </div>
  <!-- <div class="gs-app-character-list">
    
    <p-button
      label="#ゲロルトの工匠記録"
      class="gs-app-character-list-hashtag-button"
      styleClass="p-button-rounded p-button-sm"
      icon="pi pi-twitter"
      (click)="onHashtagClick()"
    ></p-button>
  </div> -->
</div>
