<div class="gs-app-search-lodestone">
  <div class="gs-app-search-lodestone-search-area">
    <div class="gs-app-search-lodestone-text-box">
      <input
        type="text"
        pInputText
        [(ngModel)]="searchString"
        [disabled]="isCharacterFetcing"
        placeholder="https://jp.finalfantasyxiv.com/lodestone/character/00000000"
        (keydown.enter)="onKeyDownEnter($event)"
        [class.ng-invalid]="isSearchBoxError"
        [class.ng-dirty]="isSearchBoxError"
      />
    </div>
    <div class="gs-app-search-lodestone-search-button">
      <p-button
        label="Search"
        icon="pi pi-search"
        [disabled]="isCharacterFetcing"
        (click)="onKeyDownEnter($event)"
      ></p-button>
    </div>
  </div>
  <div class="gs-app-search-lodestone-utility-panel">
    <p-scrollPanel
      class="gs-app-search-lodestone-utility-panel-scroll-panel"
      [style]="{ width: '100%', height: '64px' }"
    >
      <div
        *ngFor="let character of characters"
        class="gs-app-search-lodestone-utility-panel-card"
      >
        <div class="gs-app-search-lodestone-utility-panel-card-icon">
          <img
            class="gs-app-search-lodestone-utility-panel-card-icon-image"
            [src]="character.Avatar"
          />
        </div>
        <div class="gs-app-search-lodestone-utility-panel-card-description">
          {{ character.Name }}
        </div>
        <div class="gs-app-search-lodestone-utility-panel-card-button">
          <p-button
            icon="pi pi-search"
            styleClass="p-button-rounded p-button-outlined"
            pTooltip="再検索"
            tooltipPosition="bottom"
            (click)="onSearchButtonClick(character.ID)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-outlined p-button-danger"
            pTooltip="履歴から削除"
            tooltipPosition="bottom"
            (click)="onSearchRemoveClick(character.ID)"
          ></p-button>
        </div>
      </div>
    </p-scrollPanel>
    <p-button
      label="#ゲロルトの工匠記録"
      class="gs-app-search-lodestone-utility-panel-hashtag-button"
      styleClass="p-button-rounded p-button-sm"
      icon="pi pi-twitter"
      (click)="onHashtagClick()"
    ></p-button>
  </div>
</div>
