<div class="gs-app-append-zodiac">
  <div class="gs-app-append-zodiac-details">
    <p-accordion>
      <p-accordionTab header="必要アイテム" *ngIf="getTreeNodes(index).length">
        <p-treeTable [value]="getTreeNodes(index)">
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
              <td>
                <div class="gs-app-append-items-td">
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <div class="gs-app-append-items-content">
                    <ng-container *ngFor="let data of rowData.datas">
                      <div>
                        <img [src]="data.iconUrl" />
                        <a *ngIf="data.tooltipUrl" class="eorzeadb_link" [href]="data.tooltipUrl" target="_blank">
                          <div class="gs-app-append-items-name">{{ data.name }}</div>
                        </a>
                        <div class="gs-app-append-items-name" *ngIf="!data.tooltipUrl">{{ data.name }}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td *ngIf="rowData.urlType === itemUrlType">
                <div class="gs-app-append-items-td">
                  <div class="gs-app-append-items-content">
                    <ng-container *ngFor="let data of rowData.datas">
                      <div class="gs-app-append-items-amount">x {{ data.amount }}</div>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td *ngIf="rowData.parent">
                <div class="gs-app-append-items-td">
                  <i class="pi pi-angle-double-right"></i>
                </div>
              </td>
              <td *ngIf="rowData.parent">
                <div class="gs-app-append-items-td">
                  <img [src]="rowData.parentIconUrl" />
                  <a
                    *ngIf="rowData.parentTooltipUrl"
                    class="eorzeadb_link"
                    [href]="rowData.parentTooltipUrl"
                    target="_blank"
                  >
                    <div class="gs-app-append-items-name">{{ rowData.parentName }}</div>
                  </a>
                  <div class="gs-app-append-items-name" *ngIf="!rowData.parentTooltipUrl">{{ rowData.parentName }}</div>
                </div>
              </td>
              <td *ngIf="rowData.parent">
                <div class="gs-app-append-items-td">
                  <div class="gs-app-append-items-amount">x {{ rowData.parentAmount }}</div>
                </div>
              </td>
            </tr>
          </ng-template></p-treeTable
        >
      </p-accordionTab>
      <p-accordionTab header="作成手順">
        <div *ngIf="index == 0">
          <p>
            北部森林の{{ getPartial(step.quests[0].quest.issuer, npcUrlType, step.quests[0].partials).obj.n }}から<a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.id, questUrlType)"
              target="_blank"
            >
              {{ step.quests[0].quest.name }}</a
            >を受注する。
          </p>
          <p-divider></p-divider>
          <p>
            朽ち果てた武器を入手し、{{
              getPartial(step.quests[0].quest.target, npcUrlType, step.quests[0].partials).obj.n
            }}に渡す。
          </p>
          <p-divider></p-divider>
          <p>
            <a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[0], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[0], itemUrlType, step.quests[0].partials).obj.n }}</a
            >
            に{{ getMateria(step.classJobCategory.Name) }}を 2 つ装着する。
          </p>
          <p-divider></p-divider>
          <p>
            <a class="eorzeadb_link" [href]="getTooltip(20019, instanceUrlType)" target="_blank">{{
              getInstanceName(20019)
            }}</a
            >をクリアする。
          </p>
          <p>
            アルミナ研粒を{{
              getPartial(step.quests[0].quest.target, npcUrlType, step.quests[0].partials).obj.n
            }}に渡す。
          </p>
          <p>レヴナンツトールでロウェナと会話する。</p>
          <p-divider></p-divider>
          <p>
            <a class="eorzeadb_link" [href]="getTooltip(14, instanceUrlType)" target="_blank">{{
              getInstanceName(14)
            }}</a
            >をクリアする。
          </p>
          <p>アムダプールの石版をロウェナに渡す。</p>
          <p>
            写本：トリストラムの本を{{
              getPartial(step.quests[0].quest.target, npcUrlType, step.quests[0].partials).obj.n
            }}に渡す。
          </p>
          <p>
            <a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[1], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[1], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を入手する。
          </p>
          <p-divider></p-divider>
          <p>
            <a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[1], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[1], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を装備して指定のモンスター 24 体(8 体 + 8 体 + 8 体)を討伐する。
          </p>
          <p>{{ getPartial(step.quests[0].quest.target, npcUrlType, step.quests[0].partials).obj.n }}に報告する。</p>
          <p-divider></p-divider>
          <p>
            <a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[1], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[1], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を装備して<a class="eorzeadb_link" [href]="getTooltip(20020, instanceUrlType)" target="_blank">{{
              getInstanceName(20020)
            }}</a
            >をクリアする。
          </p>
          <p>
            {{ getPartial(step.quests[0].quest.target, npcUrlType, step.quests[0].partials).obj.n }}に<a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[1], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[1], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を渡す。
          </p>
          <p-divider></p-divider>
          <p>
            {{ step.classJobCategory.Name_ja }}で<a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[1], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[1], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を装備して<a class="eorzeadb_link" [href]="getTooltip(20004, instanceUrlType)" target="_blank">{{
              getInstanceName(20004)
            }}</a
            >をクリアする。
          </p>
          <p>
            {{ step.classJobCategory.Name_ja }}で<a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[1], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[1], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を装備して<a class="eorzeadb_link" [href]="getTooltip(20005, instanceUrlType)" target="_blank">{{
              getInstanceName(20005)
            }}</a
            >をクリアする。
          </p>
          <p>
            {{ step.classJobCategory.Name_ja }}で<a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[1], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[1], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を装備して<a class="eorzeadb_link" [href]="getTooltip(20006, instanceUrlType)" target="_blank">{{
              getInstanceName(20006)
            }}</a
            >をクリアする。
          </p>
          <p>
            {{
              getPartial(step.quests[0].quest.target, npcUrlType, step.quests[0].partials).obj.n
            }}にイフリートの炎、ガルーダの風、タイタンの黄土を渡す。
          </p>
          <p-divider></p-divider>
          <p>
            <a
              class="eorzeadb_link"
              [href]="getTooltip(step.quests[0].quest.usedItems[2], itemUrlType)"
              target="_blank"
              >{{ getPartial(step.quests[0].quest.usedItems[2], itemUrlType, step.quests[0].partials).obj.n }}</a
            >を 1 つ{{ getPartial(step.quests[0].quest.target, npcUrlType, step.quests[0].partials).obj.n }}に渡す。
          </p>
        </div>
        <div *ngIf="index == 1">
          <p>ゲロルトの横にある武具職人の鍛冶炉に下記を入れる。</p>
          <ul>
            <li *ngFor="let item of steps[index - 1].items">
              <a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">{{ item.Name_ja }}</a>
            </li>
            <li>
              <a class="eorzeadb_link" [href]="getTooltip(6268, itemUrlType)" target="_blank">{{ getItemName(6268) }}</a
              >を 3 つ
            </li>
          </ul>
        </div>
        <div *ngIf="index == 2">
          <p>
            1 本目作成時のみ、ゲロルトから<a
              class="eorzeadb_link"
              [href]="getTooltip(66971, questUrlType)"
              target="_blank"
              >英雄の武器を求めて</a
            >を受注する。
          </p>
          <p>
            ジャルザーンに話しかけて<a class="eorzeadb_link" [href]="getTooltip(66971, questUrlType)" target="_blank"
              >英雄の武器を求めて</a
            >をクリアする。
          </p>
          <p>※2 本目以降は直接アートマ集めをする。</p>
          <p-divider></p-divider>
          <p>
            <a class="eorzeadb_link" [href]="getTooltip(steps[index - 1].items[0].ID, itemUrlType)" target="_blank">{{
              steps[index - 1].items[0].Name_ja
            }}</a
            >を装備して各地の FATE をクリアし、アートマを入手する。
          </p>
          <p>12 種類のアートマをジャルザーンに渡す。</p>
          <p-divider></p-divider>
          <p-table [value]="atmas"
            ><ng-template pTemplate="header">
              <tr>
                <th>アートマ</th>
                <th>場所</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-atma>
              <tr>
                <td>{{ atma.name }}</td>
                <td>{{ atma.map }}</td>
              </tr>
            </ng-template></p-table
          >
        </div>
        <div *ngIf="index == 3">
          <p>
            1 本目作成時のみ、ジャルザーンから<a
              class="eorzeadb_link"
              [href]="getTooltip(66972, questUrlType)"
              target="_blank"
              >黄道十二文書</a
            >を受注する。
          </p>
          <p>レヴナンツトールのグ・ジュサナに話しかけて黄道十二文書を交換する。</p>
          <p>※2 本目以降は直接グ・ジュサナから黄道十二文書を交換する。</p>
          <p-divider></p-divider>
          <p>グ・ジュサナから黄道十二文書を交換し、計 9 冊クリアする。</p>
          <p-divider></p-divider>
          <p>ジャルザーンに話しかけ、アートマの強化を選択する。</p>
        </div>
        <div *ngIf="index == 4">
          <p>
            1 本目作成時のみ、ジャルザーンから<a
              class="eorzeadb_link"
              [href]="getTooltip(66998, questUrlType)"
              target="_blank"
              >スフィアの輝き</a
            >を受注する。
          </p>
          <p>
            中央ザナラーンの狼煙の丘にいるウベールタンに話しかけて<a
              class="eorzeadb_link"
              [href]="getTooltip(7885, itemUrlType)"
              target="_blank"
              >{{ getItemName(7885) }}</a
            >を 3 つ見せる。
          </p>
          <p>
            ウベールタンから<a class="eorzeadb_link" [href]="getTooltip(67000, questUrlType)" target="_blank"
              >輝きは新星の如く</a
            >を受注する。
          </p>
          <p>
            ウベールタンに話しかけて<a class="eorzeadb_link" [href]="getTooltip(7885, itemUrlType)" target="_blank">{{
              getItemName(7885)
            }}</a
            >を 3 つ渡し、スフィアスクロールを入手する。
          </p>
          <p>
            ※2 本目以降は直接ウベールタンに話しかけて<a
              class="eorzeadb_link"
              [href]="getTooltip(7885, itemUrlType)"
              target="_blank"
              >{{ getItemName(7885) }}</a
            >を 3 つ渡し、スフィアスクロールを入手する。
          </p>
          <p-divider></p-divider>
          <p>
            所持品からスフィアスクロールを使用して、特定のマテリア 1 個と<a
              class="eorzeadb_link"
              [href]="getTooltip(7883, itemUrlType)"
              target="_blank"
              >{{ getItemName(7883) }}</a
            >
            1 個を使用して 75 回転写をする。
          </p>
          <p-divider></p-divider>
          <p>ジャルザーンに話しかけ、アニムスの強化を選択する。</p>
        </div>
        <div *ngIf="index == 5">
          <p>
            1 本目作成時のみ、ジャルザーンから<a
              class="eorzeadb_link"
              [href]="getTooltip(65742, questUrlType)"
              target="_blank"
              >器に込められた魂</a
            >を受注し、<a class="eorzeadb_link" [href]="getTooltip(8659, itemUrlType)" target="_blank">{{
              getItemName(8659)
            }}</a
            >を入手する。
          </p>
          <p>
            ※<a class="eorzeadb_link" [href]="getTooltip(8659, itemUrlType)" target="_blank">{{ getItemName(8659) }}</a
            >がない場合は、ゲロルトの隣のドレイクから入手する。
          </p>
          <p-divider></p-divider>
          <p>
            ジャルザーンに話しかけて<a
              class="eorzeadb_link"
              [href]="getTooltip(steps[index - 1].items[0].ID, itemUrlType)"
              target="_blank"
              >{{ steps[index - 1].items[0].Name_ja }}</a
            >を絶霊化してもらう。
          </p>
          <p>
            ※2 本目以降は直接ジャルザーンに話しかけて<a
              class="eorzeadb_link"
              [href]="getTooltip(steps[index - 1].items[0].ID, itemUrlType)"
              target="_blank"
              >{{ steps[index - 1].items[0].Name_ja }}</a
            >を絶霊化してもらう。
          </p>
          <p-divider></p-divider>
          <p>
            <a class="eorzeadb_link" [href]="getTooltip(steps[index - 1].items[0].ID, itemUrlType)" target="_blank">{{
              steps[index - 1].items[0].Name_ja
            }}</a
            >を装備して新生 ID や、討滅戦を周回する。
          </p>
          <p-divider></p-divider>
          <p>
            所持品から<a class="eorzeadb_link" [href]="getTooltip(8659, itemUrlType)" target="_blank">{{
              getItemName(8659)
            }}</a
            >を使用し、「魂が完全に定着したようだ。」と表示されたらジャルザーンに話しかけ、ノウスの強化を選択する。
          </p>
        </div>
        <div *ngIf="index == 6">
          <p>
            1 本目作成時のみ、ジャルザーンから<a
              class="eorzeadb_link"
              [href]="getTooltip(65892, questUrlType)"
              target="_blank"
              >ゾディアックウェポン</a
            >を受注する。
          </p>
          <p>
            ※2 本目以降はジャルザーンからゾディアックウェポンの再創造を選択して、4 つのアイテムをジャルザーンに渡す。
          </p>
          <p-divider></p-divider>
          <p>下記のクエストをクリアして入手できる 4 つのアイテムをゲロルトに渡す。</p>
          <ul>
            <li>
              <a class="eorzeadb_link" [href]="getTooltip(65893, questUrlType)" target="_blank">パパナ借金道</a>
            </li>
            <li>
              <a class="eorzeadb_link" [href]="getTooltip(65894, questUrlType)" target="_blank">真摯なる職人の挑戦</a>
            </li>
            <li>
              <a class="eorzeadb_link" [href]="getTooltip(65895, questUrlType)" target="_blank">情熱と夢を込めて</a>
            </li>
            <li>
              <a class="eorzeadb_link" [href]="getTooltip(65896, questUrlType)" target="_blank">母の想い、息子の願い</a>
            </li>
          </ul>
          <p-divider></p-divider>
          <h4><a class="eorzeadb_link" [href]="getTooltip(65893, questUrlType)" target="_blank">パパナ借金道</a></h4>
          <ol>
            <li>トレードアイテム</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9538, itemUrlType)" target="_blank">{{ getItemName(9538) }}</a
              >、<a class="eorzeadb_link" [href]="getTooltip(9540, itemUrlType)" target="_blank">{{
                getItemName(9540)
              }}</a
              >、<a class="eorzeadb_link" [href]="getTooltip(9539, itemUrlType)" target="_blank">{{
                getItemName(9539)
              }}</a
              >を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(13, instanceUrlType)" target="_blank">{{
                getInstanceName(13)
              }}</a
              >をクリアして入手できるバトラールの角、<a
                class="eorzeadb_link"
                [href]="getTooltip(20, instanceUrlType)"
                target="_blank"
                >{{ getInstanceName(20) }}</a
              >
              をクリアして入手できるVI号ゴブリ鋼板を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(21, instanceUrlType)" target="_blank">{{
                getInstanceName(21)
              }}</a
              >をクリアして入手できるナラシンハの皮膜、氷結潜窟
              <a class="eorzeadb_link" [href]="getTooltip(27, instanceUrlType)" target="_blank">{{
                getInstanceName(27)
              }}</a
              >をクリアして入手できるフェンリルの牙を渡す。
            </p>
            <li>クラフター制作、マケボ</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9510, itemUrlType)" target="_blank">{{ getItemName(9510) }}</a
              >(HQ)、<a class="eorzeadb_link" [href]="getTooltip(9511, itemUrlType)" target="_blank">{{
                getItemName(9511)
              }}</a
              >(HQ)を渡す。
            </p>
          </ol>
          <p-divider></p-divider>
          <h4>
            <a class="eorzeadb_link" [href]="getTooltip(65894, questUrlType)" target="_blank">真摯なる職人の挑戦</a>
          </h4>
          <ol>
            <li>トレードアイテム</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9542, itemUrlType)" target="_blank">{{ getItemName(9542) }}</a
              >を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(5, instanceUrlType)" target="_blank">{{
                getInstanceName(5)
              }}</a
              >をクリアして入手できる黄輝石、<a
                class="eorzeadb_link"
                [href]="getTooltip(19, instanceUrlType)"
                target="_blank"
                >{{ getInstanceName(19) }}</a
              >
              をクリアして入手できる妖異の魔布を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(22, instanceUrlType)" target="_blank">{{
                getInstanceName(22)
              }}</a
              >をクリアして入手できるアムダプールの紙片、<a
                class="eorzeadb_link"
                [href]="getTooltip(28, instanceUrlType)"
                target="_blank"
                >{{ getInstanceName(28) }}</a
              >をクリアして入手できる蒼茫玉を渡す。
            </p>
            <li>クラフター制作、マケボ</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9512, itemUrlType)" target="_blank">{{ getItemName(9512) }}</a
              >(HQ)、<a class="eorzeadb_link" [href]="getTooltip(9513, itemUrlType)" target="_blank">{{
                getItemName(9513)
              }}</a
              >(HQ)を渡す。
            </p>
            <li>トレードアイテム</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9540, itemUrlType)" target="_blank">{{ getItemName(9540) }}</a
              >、<a class="eorzeadb_link" [href]="getTooltip(9539, itemUrlType)" target="_blank">{{
                getItemName(9539)
              }}</a
              >を渡す。
            </p>
          </ol>
          <p-divider></p-divider>
          <h4>
            <a class="eorzeadb_link" [href]="getTooltip(65895, questUrlType)" target="_blank">情熱と夢を込めて</a>
          </h4>
          <ol>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(10, instanceUrlType)" target="_blank">{{
                getInstanceName(10)
              }}</a
              >をクリアして入手できるトンベリ王の血を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(18, instanceUrlType)" target="_blank">{{
                getInstanceName(18)
              }}</a
              >をクリアして入手できる巌窟王の血玉を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(23, instanceUrlType)" target="_blank">{{
                getInstanceName(23)
              }}</a
              >をクリアして入手できる大王烏賊の血を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(26, instanceUrlType)" target="_blank">{{
                getInstanceName(26)
              }}</a
              >をクリアして入手できる古代王の血を渡す。
            </p>
            <li>クラフター制作、マケボ</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9514, itemUrlType)" target="_blank">{{ getItemName(9514) }}</a
              >(HQ)、<a class="eorzeadb_link" [href]="getTooltip(9515, itemUrlType)" target="_blank">{{
                getItemName(9515)
              }}</a
              >(HQ)を渡す。
            </p>
            <li>トレードアイテム</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9540, itemUrlType)" target="_blank">{{ getItemName(9540) }}</a
              >、<a class="eorzeadb_link" [href]="getTooltip(9539, itemUrlType)" target="_blank">{{
                getItemName(9539)
              }}</a
              >、<a class="eorzeadb_link" [href]="getTooltip(9543, itemUrlType)" target="_blank">{{
                getItemName(9543)
              }}</a
              >を渡す。
            </p>
          </ol>
          <p-divider></p-divider>
          <h4>
            <a class="eorzeadb_link" [href]="getTooltip(65895, questUrlType)" target="_blank">情熱と夢を込めて</a>
          </h4>
          <ol>
            <li>トレードアイテム</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9540, itemUrlType)" target="_blank">{{ getItemName(9540) }}</a
              >、<a class="eorzeadb_link" [href]="getTooltip(9539, itemUrlType)" target="_blank">{{
                getItemName(9539)
              }}</a
              >、<a class="eorzeadb_link" [href]="getTooltip(9539, itemUrlType)" target="_blank">{{
                getItemName(9544)
              }}</a
              >を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(14, instanceUrlType)" target="_blank">{{
                getInstanceName(14)
              }}</a
              >をクリアして入手できる古城のお宝、<a
                class="eorzeadb_link"
                [href]="getTooltip(17, instanceUrlType)"
                target="_blank"
                >{{ getInstanceName(17) }}</a
              >をクリアして入手できる大灯台のお宝、<a
                class="eorzeadb_link"
                [href]="getTooltip(24, instanceUrlType)"
                target="_blank"
                >{{ getInstanceName(24) }}</a
              >をクリアして入手できる地下墓所のお宝を渡す。
            </p>
            <li>ID 攻略</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(25, instanceUrlType)" target="_blank">{{
                getInstanceName(25)
              }}</a
              >をクリアして入手できる対竜要塞のお宝を渡す。
            </p>
            <li>クラフター制作、マケボ</li>
            <p>
              <a class="eorzeadb_link" [href]="getTooltip(9516, itemUrlType)" target="_blank">{{ getItemName(9516) }}</a
              >(HQ)、<a class="eorzeadb_link" [href]="getTooltip(9517, itemUrlType)" target="_blank">{{
                getItemName(9517)
              }}</a
              >(HQ)を渡す。
            </p>
          </ol>
        </div>
        <div *ngIf="index == 7">
          <p>
            1 本目作成時のみ、ジャルザーンから<a
              class="eorzeadb_link"
              [href]="getTooltip(66096, questUrlType)"
              target="_blank"
              >目覚めし力</a
            >を受注し、スウィフトパーチ入植地へ移動する。
          </p>
          <p>※2 本目以降は直接スウィフトパーチ入植地へ移動する。</p>
          <p-divider></p-divider>
          <p>レモンからマハトマを入手する。</p>
          <p-divider></p-divider>
          <p>
            <a class="eorzeadb_link" [href]="getTooltip(steps[index - 1].items[0].ID, itemUrlType)" target="_blank">{{
              steps[index - 1].items[0].Name_ja
            }}</a
            >を装備して新生 ID や、討滅戦を周回する。
          </p>
          <p-divider></p-divider>
          <p>マハトマ 12 個分輝きを溜める。</p>
          <p-divider></p-divider>
          <p>ジャルザーンに話しかけ、「ゾディアックウェポン」の再創造を選択する。</p>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
