:host ::ng-deep {
  width: 100%;
  height: 96px;

  .gs-app-character-list {
    padding: 0 16px;

    .gs-app-character-list-scroll-panel {
      flex: 1;
      overflow: hidden;

      .p-scrollpanel-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: auto;

        .gs-app-character-list-card {
          height: 80px;
          width: 280px;
          flex: none;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          border: 1px solid var(--surface-border);
          margin-top: 4px;
          margin-right: 8px;

          .gs-app-character-list-card-icon {
            display: flex;
            align-items: center;
            padding-left: 8px;

            .gs-app-character-list-card-icon-image {
              height: 48px;
            }
          }

          .gs-app-character-list-card-description {
            padding-left: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .gs-app-character-list-card-button {
            display: flex;
            justify-content: space-between;
            padding-left: 4px;
            padding-right: 4px;
            margin-left: auto;
            width: 92px;

            > p-button {
              padding: 2px;
            }
          }
        }
      }
    }
  }
}
