<div class="gs-app-character-list">
  <div *ngIf="!characters.length" class="gs-app-character-list-empty-message">
    Search ボタンからキャラクターを検索してください！
  </div>
  <p-scrollPanel
    *ngIf="characters.length"
    class="gs-app-character-list-scroll-panel"
    [style]="{ width: '100%', height: '96px' }"
  >
    <div
      *ngFor="let character of characters"
      class="gs-app-character-list-card"
      [class.selected]="isSelected(character)"
      (click)="onCharacterSelected(character)"
    >
      <div class="gs-app-character-list-card-icon">
        <img class="gs-app-character-list-card-icon-image" [src]="getCharacterAvaterSrc(character)" />
      </div>
      <div class="gs-app-character-list-card-description">
        <div class="gs-app-character-list-card-description-name">
          <i *ngIf="isUndisclosedAchievements(character)" class="pi pi-eye-slash"></i>
          <span [pTooltip]="getCharacterName(character)" tooltipPosition="top">{{ getCharacterName(character) }}</span>
        </div>
        <div class="gs-app-character-list-card-description-timestamp" pTooltip="最終更新" tooltipPosition="bottom">
          <i class="pi pi-history"></i>
          <span>{{ getUpdateTime(character.updateTimestamp) }}日前</span>
        </div>
      </div>
      <div class="gs-app-character-list-card-button">
        <div class="gs-app-character-list-card-button-top">
          <p-button
            icon="pi pi-refresh"
            styleClass="p-button-rounded p-button-outlined"
            pTooltip="更新"
            tooltipPosition="top"
            (click)="onSearchButtonClick(character)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-outlined p-button-danger"
            pTooltip="削除"
            tooltipPosition="top"
            (click)="onSearchRemoveClick(character)"
          ></p-button>
        </div>
        <div *ngIf="!isUndisclosedAchievements(character)" class="gs-app-character-list-card-button-bottom">
          <p-button
            icon="pi pi-twitter"
            label="Share"
            styleClass="p-button-rounded p-button-outlined p-button-sm"
            pTooltip="ツイートする！"
            tooltipPosition="bottom"
            (click)="onShareClick(character)"
          ></p-button>
        </div>
      </div>
    </div>
  </p-scrollPanel>
</div>
