<div class="gs-app-character-list">
  <p-scrollPanel
    class="gs-app-search-lodestone-utility-panel-scroll-panel"
    [style]="{ width: '100%', height: '96px' }"
  >
    <div
      *ngFor="let character of characters"
      class="gs-app-search-lodestone-utility-panel-card"
    >
      <div class="gs-app-search-lodestone-utility-panel-card-icon">
        <img
          class="gs-app-search-lodestone-utility-panel-card-icon-image"
          [src]="character.data.Character.Avatar"
        />
      </div>
      <div class="gs-app-search-lodestone-utility-panel-card-description">
        {{ character.data.Character.Name }}
      </div>
      <div class="gs-app-search-lodestone-utility-panel-card-button">
        <p-button
          icon="pi pi-refresh"
          styleClass="p-button-rounded p-button-outlined"
          pTooltip="更新"
          tooltipPosition="bottom"
          (click)="onSearchButtonClick(character.data.Character.ID)"
        ></p-button>
        <p-button
          icon="pi pi-trash"
          styleClass="p-button-rounded p-button-outlined p-button-danger"
          pTooltip="削除"
          tooltipPosition="bottom"
          (click)="onSearchRemoveClick(character.data.Character.ID)"
        ></p-button>
      </div>
    </div>
  </p-scrollPanel>
</div>
