:host ::ng-deep {
  width: 100%;
  height: 100%;

  .gs-app-character-list {
    padding-left: 16px;

    .gs-app-character-list-item {
      display: flex;
      align-items: center;

      .gs-app-character-list-item-image {
        padding: 16px;
        width: 128px;
        height: 128px;
      }

      .gs-app-character-list-item-description {
        display: flex;
        flex-direction: column;

        .gs-app-character-list-item-description-name {
          font-size: x-large;

          > span {
            padding-left: 8px;
          }
        }

        .gs-app-character-list-item-description-home-world {
          .gs-app-character-list-item-description-home-world-data-center,
          .gs-app-character-list-item-description-home-world-server {
            > .pi {
              padding-left: 8px;
            }

            > span {
              padding-left: 4px;
            }
          }
        }
      }

      &:hover {
        background-color: #2d2d2d;
        cursor: pointer;
      }
    }
  }
}
