<div class="gs-app-step-by-step">
  <div class="gs-app-step-by-step-weapon-panel">
    <div class="gs-app-step-by-step-weapon-list">
      <div
        class="gs-app-step-by-step-weapon-list-content"
        [style.background]="getWeaponRateCssText(weapon)"
        *ngFor="let weapon of weapons"
        (click)="onWeaponClick(weapon)"
      >
        <img class="gs-app-step-by-step-weapon-list-content-weapon-icon" [src]="getWeaponIcon(weapon)" />
      </div>
    </div>
  </div>
  <div class="gs-app-step-by-step-job-panel">
    <div class="gs-app-step-by-step-job-list">
      <div
        class="gs-app-step-by-step-job-list-content"
        [style.background]="getJobRateCssText(job)"
        *ngFor="let job of jobs"
        (click)="onJobClick(job)"
      >
        <img class="gs-app-step-by-step-job-list-content-job-icon" [src]="getJobIcon(job)" />
      </div>
    </div>
  </div>
  <div class="gs-app-step-by-step-panel">
    <div class="gs-app-step-by-step-panel-content" *ngFor="let step of steps; index as i">
      <p-card>
        <ng-template pTemplate="header">
          <div class="gs-app-step-by-step-panel-content-card-header">
            <div class="gs-app-step-by-step-panel-content-card-header-step">{{ i + 1 }} 段階目</div>
            <div class="gs-app-step-by-step-panel-content-card-header-achievement">
              <a
                class="eorzeadb_link"
                *ngIf="step.achievements[0]"
                [href]="getTooltip(step.achievements[0].achievement.id, achievementUrlType)"
                target="_blank"
              >
                <img
                  class="gs-app-step-by-step-panel-content-card-header-achievement-icon"
                  *ngIf="!isAchievementCompleted(step.achievements[0].achievement.id)"
                  src="../../../assets/icon/achievement/achievement_disable.png"
                />
                <img
                  class="gs-app-step-by-step-panel-content-card-header-achievement-icon"
                  *ngIf="isAchievementCompleted(step.achievements[0].achievement.id)"
                  src="../../../assets/icon/achievement/achievement_enable.png"
                />
              </a>
            </div>
          </div>
        </ng-template>
        <div class="gs-app-step-by-step-panel-content-card">
          <div class="gs-app-step-by-step-panel-content-card-title">
            <div class="gs-app-step-by-step-panel-content-card-title-item" *ngFor="let item of step.items">
              <div class="gs-app-step-by-step-panel-content-card-title-item-content">
                <a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">
                  <div class="gs-app-step-by-step-panel-content-card-title-item-content-icon">
                    <img
                      class="gs-app-step-by-step-panel-content-card-title-item-content-icon-weapon"
                      [src]="getXviapiIcon(item.Icon)"
                    />
                  </div>
                </a>
                <a class="eorzeadb_link" [href]="getTooltip(item.ID, itemUrlType)" target="_blank">
                  <div class="gs-app-step-by-step-panel-content-card-title-content-item-name">
                    {{ item.Name_ja }}
                  </div>
                </a>
              </div>
            </div>
            <div class="gs-app-step-by-step-panel-content-card-title-item-append">
              <app-zodiac
                *ngIf="step.items[0]?.LevelEquip == 50"
                [index]="i"
                [step]="step"
                [steps]="steps"
              ></app-zodiac>
              <app-anima *ngIf="step.items[0]?.LevelEquip == 60" [index]="i" [step]="step" [steps]="steps"></app-anima>
              <app-euleka
                *ngIf="step.items[0]?.LevelEquip == 70"
                [index]="i"
                [step]="step"
                [steps]="steps"
              ></app-euleka>
            </div>
          </div>
        </div>
      </p-card>
      <p-divider *ngIf="steps.length != i + 1"></p-divider>
    </div>
  </div>
</div>
