:host ::ng-deep {
  width: 100%;

  .gs-app-step-by-step {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gs-app-step-by-step-weapon-list {
      display: flex;
    }

    .gs-app-step-by-step-job-list {
      display: flex;

      .gs-app-step-by-step-job-list-content-job-icon {
        height: 32px;
        width: 32px;
      }
    }

    .gs-app-step-by-step-panel-info-content {
      display: flex;

      .gs-app-step-by-step-panel-info-content-title-content {
        display: flex;
        align-items: center;

        .gs-app-step-by-step-panel-info-content-title-content-icon-weapon-icon {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
