<div class="gs-app-step-by-step">
  <div class="gs-app-step-by-step-weapon-panel">
    <div class="gs-app-step-by-step-weapon-list">
      <div
        class="gs-app-step-by-step-weapon-list-content"
        *ngFor="let weapon of weapons"
        (click)="onWeaponClick(weapon)"
      >
        {{ weapon }}
      </div>
    </div>
  </div>
  <div class="gs-app-step-by-step-job-panel">
    <div class="gs-app-step-by-step-job-list">
      <div
        class="gs-app-step-by-step-job-list-content"
        *ngFor="let job of jobs"
        (click)="onJobClick(job)"
      >
        <img
          class="gs-app-step-by-step-job-list-content-job-icon"
          [src]="getJobIcon(job)"
        />
      </div>
    </div>
  </div>
  <div class="gs-app-step-by-step-panel">
    <div
      class="gs-app-step-by-step-panel-content"
      *ngFor="let step of steps; index as i"
    >
      <div class="gs-app-step-by-step-panel-info">
        <div class="gs-app-step-by-step-panel-info-step">{{ i + 1 }} 段目</div>
        <div class="gs-app-step-by-step-panel-info-content">
          <div class="gs-app-step-by-step-panel-info-content-icon">
            <div
              class="gs-app-step-by-step-panel-info-content-icon-quest-icon"
              *ngIf="step.quests.length"
            >
              Q
            </div>
            <div
              class="gs-app-step-by-step-panel-info-content-icon-acievement-icon"
              *ngIf="step.achievements.length"
            >
              A
            </div>
          </div>
          <div class="gs-app-step-by-step-panel-info-content-title">
            <div
              class="gs-app-step-by-step-panel-info-content-title-content"
              *ngFor="let item of step.items"
            >
              <div
                class="gs-app-step-by-step-panel-info-content-title-content-icon"
              >
                <img
                  class="gs-app-step-by-step-panel-info-content-title-content-icon-weapon-icon"
                  [src]="getIcon(item.Icon)"
                />
              </div>
              <div
                class="gs-app-step-by-step-panel-info-content-title-content-name"
              >
                {{ item.Name_ja }}
              </div>
            </div>
          </div>
          <div class="gs-app-step-by-step-panel-info-append"></div>
        </div>
        <div class="gs-app-step-by-step-panel-allow">
          <i class="pi pi-angle-down" *ngIf="steps.length != i + 1"></i>
        </div>
      </div>
    </div>
  </div>
</div>
