:host ::ng-deep {
  width: 100%;

  .gs-app-step-by-step {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gs-app-step-by-step-weapon-list {
      display: flex;
    }

    .gs-app-step-by-step-weapon-list-content {
      width: 64px;
      height: 64px;
      margin: 8px 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: conic-gradient(var(--surface-700) 0deg 360deg);
      border-radius: 50%;

      .gs-app-step-by-step-weapon-list-content-weapon-icon {
        height: 56px;
        width: 56px;
      }

      :hover {
        cursor: pointer;
      }
    }

    .gs-app-step-by-step-job-list {
      width: 600px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .gs-app-step-by-step-job-list-content {
        width: 40px;
        height: 40px;
        margin: 8px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: conic-gradient(var(--surface-700) 0deg 360deg);
        border-radius: 50%;

        .gs-app-step-by-step-job-list-content-job-icon {
          height: 32px;
          width: 32px;
        }

        :hover {
          cursor: pointer;
        }
      }
    }

    .gs-app-step-by-step-panel {
      width: 600px;

      .gs-app-step-by-step-panel-content-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;

        .gs-app-step-by-step-panel-content-card-header-achievement {
          width: 24px;
          height: 24px;
        }
      }

      .gs-app-step-by-step-panel-content-card-title-item {
        .gs-app-step-by-step-panel-content-card-title-item-content {
          display: flex;
          align-items: center;

          .gs-app-step-by-step-panel-content-card-title-content-item-name {
            padding: 8px;
          }
        }
      }
    }
  }
}
